-- MySQL dump 10.13  Distrib 9.4.0, for Win64 (x86_64)
--
-- Host: localhost    Database: recruitingCenter
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `recruitingCenter`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `recruitingCenter` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `recruitingCenter`;

--
-- Table structure for table `calls`
--

DROP TABLE IF EXISTS `calls`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calls` (
  `call_id` int NOT NULL AUTO_INCREMENT,
  `event_id` int DEFAULT NULL,
  `emp_id` int DEFAULT NULL,
  `cand_id` int DEFAULT NULL,
  `status_` enum('╨Я╤А╨╕╨╜╤П╤В','╨Э╨╡ ╨┐╤А╨╕╨╜╤П╤В') DEFAULT NULL,
  PRIMARY KEY (`call_id`),
  KEY `event_id` (`event_id`),
  KEY `emp_id` (`emp_id`),
  KEY `cand_id` (`cand_id`),
  CONSTRAINT `calls_ibfk_1` FOREIGN KEY (`event_id`) REFERENCES `interview` (`event_id`),
  CONSTRAINT `calls_ibfk_2` FOREIGN KEY (`emp_id`) REFERENCES `employee` (`emp_id`),
  CONSTRAINT `calls_ibfk_3` FOREIGN KEY (`cand_id`) REFERENCES `candidate` (`cand_id`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calls`
--

LOCK TABLES `calls` WRITE;
/*!40000 ALTER TABLE `calls` DISABLE KEYS */;
/*!40000 ALTER TABLE `calls` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidate`
--

DROP TABLE IF EXISTS `candidate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `candidate` (
  `cand_id` int NOT NULL AUTO_INCREMENT,
  `full_name` varchar(255) DEFAULT NULL,
  `address` text,
  `age` int DEFAULT NULL,
  `gender` varchar(10) DEFAULT NULL,
  `job_id` int DEFAULT NULL,
  PRIMARY KEY (`cand_id`),
  KEY `job_id` (`job_id`),
  CONSTRAINT `candidate_ibfk_1` FOREIGN KEY (`job_id`) REFERENCES `schedule_` (`job_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidate`
--

LOCK TABLES `candidate` WRITE;
/*!40000 ALTER TABLE `candidate` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee`
--

DROP TABLE IF EXISTS `employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee` (
  `emp_id` int NOT NULL,
  `full_name` varchar(255) DEFAULT NULL,
  `birthday` date DEFAULT NULL,
  `address` text,
  `education` text,
  `enrollment` date DEFAULT NULL,
  `salary` decimal(10,2) DEFAULT NULL,
  `dismissal` date DEFAULT NULL,
  `job_id` int DEFAULT NULL,
  PRIMARY KEY (`emp_id`),
  KEY `job_id` (`job_id`),
  CONSTRAINT `employee_ibfk_1` FOREIGN KEY (`job_id`) REFERENCES `schedule_` (`job_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee`
--

LOCK TABLES `employee` WRITE;
/*!40000 ALTER TABLE `employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `external_user`
--

DROP TABLE IF EXISTS `external_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `external_user` (
  `ex_id` int NOT NULL AUTO_INCREMENT,
  `login` varchar(100) NOT NULL,
  `pass` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL,
  PRIMARY KEY (`ex_id`),
  UNIQUE KEY `login` (`login`),
  KEY `fk_external_role` (`role`),
  CONSTRAINT `fk_external_role` FOREIGN KEY (`role`) REFERENCES `role` (`role`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `external_user`
--

LOCK TABLES `external_user` WRITE;
/*!40000 ALTER TABLE `external_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `external_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hires_report`
--

DROP TABLE IF EXISTS `hires_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hires_report` (
  `rep_id` int NOT NULL AUTO_INCREMENT,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `office_id` int DEFAULT NULL,
  `total_hires` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`rep_id`),
  UNIQUE KEY `uq_hires` (`start_date`,`end_date`,`office_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hires_report`
--

LOCK TABLES `hires_report` WRITE;
/*!40000 ALTER TABLE `hires_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `hires_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internal_user`
--

DROP TABLE IF EXISTS `internal_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `internal_user` (
  `in_id` int NOT NULL AUTO_INCREMENT,
  `login` varchar(100) NOT NULL,
  `pass` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL,
  PRIMARY KEY (`in_id`),
  UNIQUE KEY `login` (`login`),
  KEY `fk_internal_role` (`role`),
  CONSTRAINT `fk_internal_role` FOREIGN KEY (`role`) REFERENCES `role` (`role`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internal_user`
--

LOCK TABLES `internal_user` WRITE;
/*!40000 ALTER TABLE `internal_user` DISABLE KEYS */;
INSERT INTO `internal_user` VALUES (1,'admin1','admin_pass','admin'),(2,'manager1','manager_pass','manager'),(3,'hr1','hr_pass','hr');
/*!40000 ALTER TABLE `internal_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interview`
--

DROP TABLE IF EXISTS `interview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interview` (
  `event_id` int NOT NULL AUTO_INCREMENT,
  `date_` date DEFAULT NULL,
  `emp_id` int DEFAULT NULL,
  `vac_id` int DEFAULT NULL,
  PRIMARY KEY (`event_id`),
  KEY `emp_id` (`emp_id`),
  KEY `vac_id` (`vac_id`),
  CONSTRAINT `interview_ibfk_1` FOREIGN KEY (`emp_id`) REFERENCES `employee` (`emp_id`),
  CONSTRAINT `interview_ibfk_2` FOREIGN KEY (`vac_id`) REFERENCES `vacancy` (`vac_id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interview`
--

LOCK TABLES `interview` WRITE;
/*!40000 ALTER TABLE `interview` DISABLE KEYS */;
INSERT INTO `interview` VALUES (1,'2020-03-02',1,3),(2,'2020-03-05',1,4),(3,'2020-03-10',2,3),(4,'2020-03-12',2,4),(5,'2020-03-15',3,3),(6,'2020-03-20',3,4),(7,'2020-04-15',5,5),(8,'2020-05-20',6,6),(9,'2020-07-25',7,8),(10,'2020-09-15',1,10),(11,'2020-03-12',9,14),(12,'2020-03-18',1,14),(13,'2020-04-10',10,15),(14,'2020-06-05',12,16),(15,'2020-06-18',2,17),(16,'2020-08-25',12,18),(17,'2020-10-15',14,19),(18,'2020-11-20',10,20),(19,'2021-01-12',16,21),(20,'2021-02-10',15,22),(26,'2020-10-10',1,10),(27,'2020-10-10',13,18),(28,'2020-01-10',13,10),(29,'2020-10-11',15,18),(30,'2025-10-10',13,16);
/*!40000 ALTER TABLE `interview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interviews_report`
--

DROP TABLE IF EXISTS `interviews_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interviews_report` (
  `rep_id` int NOT NULL AUTO_INCREMENT,
  `rep_year` int NOT NULL,
  `rep_month` int NOT NULL,
  `vacancy_id` int NOT NULL,
  `recruiter_id` int NOT NULL,
  `office_id` int DEFAULT NULL,
  `interviews_cnt` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`rep_id`),
  UNIQUE KEY `uq_ir` (`rep_year`,`rep_month`,`vacancy_id`,`recruiter_id`,`office_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interviews_report`
--

LOCK TABLES `interviews_report` WRITE;
/*!40000 ALTER TABLE `interviews_report` DISABLE KEYS */;
INSERT INTO `interviews_report` VALUES (1,2020,10,19,14,109,1,'2025-11-29 14:56:38'),(2,2020,10,10,1,109,1,'2025-11-29 14:56:38');
/*!40000 ALTER TABLE `interviews_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recruiting_report`
--

DROP TABLE IF EXISTS `recruiting_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recruiting_report` (
  `rep_id` int NOT NULL AUTO_INCREMENT,
  `rep_year` int NOT NULL,
  `rep_month` int NOT NULL,
  `office_id` int DEFAULT NULL,
  `total_hires` int NOT NULL DEFAULT '0',
  `avg_open_days` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`rep_id`),
  UNIQUE KEY `uq_recruiting` (`rep_year`,`rep_month`,`office_id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recruiting_report`
--

LOCK TABLES `recruiting_report` WRITE;
/*!40000 ALTER TABLE `recruiting_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `recruiting_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `report_log`
--

DROP TABLE IF EXISTS `report_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `report_log` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `report_id` varchar(64) NOT NULL,
  `params_json` text,
  `row_count` int NOT NULL DEFAULT '0',
  `created_by` varchar(64) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `report_log`
--

LOCK TABLES `report_log` WRITE;
/*!40000 ALTER TABLE `report_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `report_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `r_id` int NOT NULL AUTO_INCREMENT,
  `role` varchar(50) NOT NULL,
  `db_user` varchar(100) DEFAULT NULL,
  `db_pass` varchar(100) DEFAULT NULL,
  `db_config` json DEFAULT NULL,
  PRIMARY KEY (`r_id`),
  UNIQUE KEY `role` (`role`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES (1,'admin',NULL,NULL,'{\"host\": \"127.0.0.1\", \"user\": \"admin_user\", \"database\": \"RecruitingCenter\", \"password\": \"admin_pass\"}'),(2,'manager',NULL,NULL,'{\"host\": \"127.0.0.1\", \"user\": \"manager_user\", \"database\": \"RecruitingCenter\", \"password\": \"manager_pass\"}'),(3,'hr',NULL,NULL,'{\"host\": \"127.0.0.1\", \"user\": \"hr_user\", \"database\": \"RecruitingCenter\", \"password\": \"hr_pass\"}');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_`
--

DROP TABLE IF EXISTS `schedule_`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_` (
  `job_id` int NOT NULL,
  `min_salary` decimal(10,2) DEFAULT NULL,
  `max_salary` decimal(10,2) DEFAULT NULL,
  `office_id` int DEFAULT NULL,
  PRIMARY KEY (`job_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_`
--

LOCK TABLES `schedule_` WRITE;
/*!40000 ALTER TABLE `schedule_` DISABLE KEYS */;
INSERT INTO `schedule_` VALUES (1,30000.00,40000.00,101),(2,35000.00,50000.00,102),(3,45000.00,60000.00,103),(4,55000.00,75000.00,104),(5,70000.00,90000.00,105),(6,65000.00,80000.00,106),(7,75000.00,100000.00,107),(8,50000.00,70000.00,108),(9,120000.00,150000.00,109),(10,100000.00,140000.00,110),(11,95000.00,120000.00,111),(12,85000.00,110000.00,112),(13,90000.00,120000.00,113),(14,60000.00,85000.00,114),(15,110000.00,150000.00,115);
/*!40000 ALTER TABLE `schedule_` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vacancy`
--

DROP TABLE IF EXISTS `vacancy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vacancy` (
  `vac_id` int NOT NULL AUTO_INCREMENT,
  `job_id` int DEFAULT NULL,
  `date_open` date DEFAULT NULL,
  `date_close` date DEFAULT NULL,
  `enrollment` date DEFAULT NULL,
  PRIMARY KEY (`vac_id`),
  KEY `job_id` (`job_id`),
  CONSTRAINT `vacancy_ibfk_1` FOREIGN KEY (`job_id`) REFERENCES `schedule_` (`job_id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vacancy`
--

LOCK TABLES `vacancy` WRITE;
/*!40000 ALTER TABLE `vacancy` DISABLE KEYS */;
/*!40000 ALTER TABLE `vacancy` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'recruitingCenter'
--
/*!50003 DROP PROCEDURE IF EXISTS `p_interviews_monthly` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `p_interviews_monthly`(
  IN p_month INT,
  IN p_year  INT,
  IN p_office_id INT          
)
BEGIN
  DECLARE d_start DATE;
  DECLARE d_end   DATE;
  DECLARE v_exists INT DEFAULT 0;


  IF p_month IS NULL OR p_year IS NULL OR p_month < 1 OR p_month > 12 THEN
    SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = '╨г╨║╨░╨╢╨╕╤В╨╡ ╨║╨╛╤А╤А╨╡╨║╤В╨╜╤Л╨╡ ╨╝╨╡╤Б╤П╤Ж ╨╕ ╨│╨╛╨┤';
  END IF;


  SET d_start = STR_TO_DATE(CONCAT(p_year,'-',LPAD(p_month,2,'0'),'-01'), '%Y-%m-%d');
  SET d_end   = LAST_DAY(d_start);

  IF p_office_id IS NULL THEN
    SELECT COUNT(*) INTO v_exists
    FROM interviews_report
    WHERE rep_year = p_year AND rep_month = p_month;
  ELSE
    SELECT COUNT(*) INTO v_exists
    FROM interviews_report
    WHERE rep_year = p_year AND rep_month = p_month AND office_id = p_office_id;
  END IF;

  IF v_exists = 0 THEN
    INSERT INTO interviews_report
      (rep_year, rep_month, vacancy_id, recruiter_id, office_id, interviews_cnt)
    SELECT
      p_year,
      p_month,
      i.vac_id                 AS vacancy_id,
      i.emp_id                 AS recruiter_id,
      s.office_id              AS office_id,
      COUNT(i.event_id)        AS interviews_cnt
    FROM Interview i
    JOIN Vacancy v
         ON v.vac_id = i.vac_id
    LEFT JOIN Schedule_ s
           ON s.job_id = v.job_id
    WHERE
      i.`date_` BETWEEN d_start AND d_end      
      AND v.`date_open` <= d_end
      AND (v.`date_close` IS NULL OR v.`date_close` >= d_start)
      AND (p_office_id IS NULL OR s.office_id = p_office_id)
      AND NOT EXISTS (
            SELECT 1
            FROM interviews_report r
            WHERE r.rep_year     = p_year
              AND r.rep_month    = p_month
              AND r.vacancy_id   = i.vac_id
              AND r.recruiter_id = i.emp_id
              AND (r.office_id <=> s.office_id)
          )
    GROUP BY i.vac_id, i.emp_id, s.office_id;
  END IF;

  SELECT
    rep_id, rep_year, rep_month, office_id,
    vacancy_id, recruiter_id, interviews_cnt, created_at
  FROM interviews_report
  WHERE rep_year = p_year
    AND rep_month = p_month
    AND (p_office_id IS NULL OR office_id = p_office_id)
  ORDER BY office_id, vacancy_id, recruiter_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `p_recruiting_report` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `p_recruiting_report`(
  IN p_month INT,
  IN p_year  INT,
  IN p_office_id INT
)
BEGIN
  DECLARE d_start DATE;
  DECLARE d_end   DATE;

  IF p_month IS NULL OR p_year IS NULL THEN
    SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = '╨г╨║╨░╨╢╨╕╤В╨╡ ╨╝╨╡╤Б╤П╤Ж ╨╕ ╨│╨╛╨┤';
  END IF;

  /* ╨░╨│╤А╨╡╨│╨░╤В╨╜╨░╤П ╤В╨░╨▒╨╗╨╕╤Ж╨░ (╨╡╤Б╨╗╨╕ ╨╜╨░╨┤╨╛) */
  CREATE TABLE IF NOT EXISTS recruiting_report (
    rep_id        INT AUTO_INCREMENT PRIMARY KEY,
    rep_year      INT NOT NULL,
    rep_month     INT NOT NULL,
    office_id     INT NULL,
    total_hires   INT NOT NULL DEFAULT 0,
    avg_open_days DECIMAL(10,2) NULL,
    /* created_at ╨╝╨╛╨╢╨╜╨╛ ╨╛╤Б╤В╨░╨▓╨╕╤В╤М ╨╕╨╗╨╕ ╤Г╨▒╤А╨░╤В╤М тАФ ╨║╨░╨║ ╨▓ ╤В╨▓╨╛╨╡╨╣ ╤Б╤Е╨╡╨╝╨╡ */
    created_at    TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    UNIQUE KEY uq_recruiting (rep_year, rep_month, office_id)
  );

  SET d_start = STR_TO_DATE(CONCAT(p_year,'-',LPAD(p_month,2,'0'),'-01'), '%Y-%m-%d');
  SET d_end   = LAST_DAY(d_start);

  INSERT INTO recruiting_report (rep_year, rep_month, office_id, total_hires, avg_open_days)
  SELECT
    p_year, p_month, s.office_id,
    COUNT(e.emp_id),
    AVG(DATEDIFF(COALESCE(v.date_close, CURRENT_DATE), v.date_open))
  FROM schedule_ s
  LEFT JOIN employee e ON e.job_id = s.job_id
                      AND e.enrollment BETWEEN d_start AND d_end
  LEFT JOIN vacancy  v ON v.job_id = s.job_id
                      AND v.date_open   BETWEEN d_start AND d_end
  WHERE (p_office_id IS NULL OR s.office_id = p_office_id)
  GROUP BY s.office_id
  ON DUPLICATE KEY UPDATE
    total_hires   = VALUES(total_hires),
    avg_open_days = VALUES(avg_open_days);

  SELECT rep_id, rep_year, rep_month, office_id, total_hires, avg_open_days
         /* ╨╡╤Б╨╗╨╕ ╤Г ╤В╨╡╨▒╤П ╨╡╤Б╤В╤М ╨║╨╛╨╗╨╛╨╜╨║╨░: , created_at */
  FROM recruiting_report
  WHERE rep_year = p_year AND rep_month = p_month
    AND (p_office_id IS NULL OR office_id = p_office_id)
  ORDER BY office_id;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-23 18:03:29
